Importing important libraries

In [1]:
import re
import pandas as pd
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
wordnet = WordNetLemmatizer()
stop_words = set(stopwords.words('english'))
import joblib
vectorizer = joblib.load('Disaster_tweet_vocabulary.pkl')
model = joblib.load('Disaster_tweet_model.pkl')

Import testing data and preprocessing

In [2]:
test = pd.read_csv('test.csv', header=0 , delimiter=',')
submission = pd.read_csv('sample_submission.csv', header=0 , delimiter=',')
review_text = test['text']

corpus = []
for i in range(0, len(review_text)):
    review = re.sub('[^a-zA-Z]', ' ', review_text[i])
    review = review.lower()
    review = review.split()
    review = [wordnet.lemmatize(word) for word in review if not word in stop_words]
    review = ' '.join(review)
    corpus.append(review)
X_test = vectorizer.transform(corpus).toarray()

In [3]:
submission['target'] = model.predict(X_test)
submission.to_csv('submission.csv', index=False)
submission

         id  target
0         0       1
1         2       1
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       1
3259  10865       0
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]